includes:
	- vendor/phpstan/phpstan-symfony/extension.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/jangregor/phpstan-prophecy/extension.neon

parameters:
    checkGenericClassInNonGenericObjectType: false
