@import '~tabler/scss/tabler';
@import '~line-awesome/dist/line-awesome/scss/line-awesome';

.nav-link-icon > i {
    display: block;
}

.form-group:not(:last-of-type) {
    margin-bottom: 1em;
}

#flash-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 350px;
    max-width: calc(100% - 20px);
    z-index: 100;
    .alert {
        opacity: 0;
        &.show {
            opacity: 1;
        }
        &.hide {
            display: none;
        }
    }
}

.status-icon {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    background: currentColor;
    border-radius: 50%;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    margin-right: .375rem;
    vertical-align: middle;
}